jax
jaxlib
numpy
scipy
jsonargparse==4.38.0
flax
optax
pytest
einops
pillow
wandb
ffmpeg-python
tensorflow
soundfile
librosa
huggingface_hub
jaxtyping
typeguard==2.13.3
sentencepiece # Not directly used, but it's a dependency of recurrentgemma
