jax==0.5.3
jaxlib==0.5.3
numpy
scipy
jsonargparse
flax
optax
pytest
einops
pillow
wandb
ffmpeg-python
tensorflow
soundfile
librosa
huggingface_hub
jaxtyping==0.2.38
typeguard==2.13.3
sentencepiece # Not directly used, but it's a dependency of recurrentgemma